<div class="footer-info-section">
  <div class="contact-us">
    <div class="addr-ln-1">Address: Line 1, Line 2</div>
    <div class="addr-city">Bangalore, Karnataka</div>

    <div class="social-links">Bangalore, Karnataka</div>
  </div>
  <div class="infomation">
    <a class="about-us d-block" routerLink="/about-us"> About Us </a>
    <a class="contact-us d-block" routerLink="/contact-us"> Contact Us </a>
    <div class="delivery-info">Delivery Information</div>
    <div class="privacy-policy">Privacy Policy</div>
    <div class="faqs">FAQs</div>
  </div>
  <div class="my-account">
    <div class="addresses">My Addresses</div>
    <div class="orders">My Orders</div>
    <div class="cart">My Cart</div>
  </div>
</div>
