<div class="page checkout-page bg-light">
  <div class="row px-5 py-2">
    <div class="col-12 py-3 d-flex justify-content-between">
      <app-checkout-steps
        class="w-100"
        [steps]="checkoutSteps"
        [currentStep]="currentStep"
        (onSelectStep)="onSelectStep($event)"
      ></app-checkout-steps>
    </div>

    <div class="card my-2 w-100">
      <div class="card-header d-flex justify-content-between">Cart</div>
      <div class="card-body">
        <app-item-table
          *ngIf="cart && cart.items"
          [noAction]="true"
          [items]="cart.items"
        ></app-item-table>
        <div
          (click)="onClickNext()"
          *ngIf="currentStep === 0"
          class="btn btn-primary btn-block"
        >
          Next
        </div>
      </div>
    </div>

    <div class="card my-2 w-100">
      <div class="card-header d-flex justify-content-between">
        Billing Address
      </div>
      <div class="card-body" *ngIf="currentStep >= 1">
        <app-delivery-step
          [disableCTA]="disbaleDeliveryStepCTA()"
          (onSubmit)="onSaveBillingAddress($event)"
        ></app-delivery-step>
      </div>
    </div>

    <app-payment-step
      class="w-100"
      [cartTotal]="cartTotal"
      [showForm]="currentStep === 2"
      [billingAddress]="billingAddress"
      (onSuccess)="onPaymentSuccess($event)"
      (onFailure)="onPaymentFailure($event)"
    ></app-payment-step>
  </div>
</div>
