<div class="page checkout-page bg-light">
  <div class="row px-5 py-2">
    <div class="col-12 py-3 d-flex justify-content-between">
      <!-- <CheckoutSteps
              steps={STEPS}
              currentStep={currentStep}
              onSelectStep={this.onSelectStep}
            /> -->
    </div>

    <div class="card my-2 w-100">
      <div class="card-header d-flex justify-content-between">Cart</div>
      <div class="card-body">
        <app-item-table
          [noAction]="false"
          [items]="cart.items"
          *ngIf="cart && cart.items"
        ></app-item-table>
        <div
          (click)="onClickNext()"
          *ngIf="currentStep === 0"
          class="btn btn-primary btn-block"
        >
          Next
        </div>
      </div>
    </div>

    <div class="card my-2 w-100">
      <div class="card-header d-flex justify-content-between">
        Billing Address
      </div>
      <div class="card-body" *ngIf="currentStep >= 1">
        <app-delivery-step
          [disableCTA]="disbaleDeliveryStepCTA()"
          (onSubmit)="onSaveBillingAddress($event)"
        ></app-delivery-step>
      </div>
    </div>

    <!-- <Elements stripe={stripePromise}>
            <ElementsConsumer>
              {({ elements, stripe }) => (
                <PaymentStep
                  stripe={stripe}
                  elements={elements}
                  cartTotal={cartTotal}
                  showForm={currentStep === 2}
                  billingAddress={billingAddress}
                  onSuccess={this.onPaymentSuccess}
                  onFailure={this.onPaymentFailure}
                  showLoader={this.props.showLoader}
                  hideLoader={this.props.hideLoader}
                />
              )}
            </ElementsConsumer>
          </Elements> -->
  </div>
</div>
